<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        a { text-decoration: none; } 
        /* CSS 주석은 또 다르다네... 별꼴임*/
        /* 만약 내가 style만 바꾸고 싶을 경우 상속에 유의할 것!!!!!!!!!!!!!!!!!!!!!!!!!!!!!제발 */

    </style>
</head>
<body>
    <div calss = toolbar>
        <h2><a href="{% url 'posts:list' %}" style="text-decoration: underline;">ZZANGSBIN's Hall of Fame </a></h2> 
        <!-- posts:list 이게... 이해가 잘 안되므로 김어쩌고씨한테 설명 듣기~! -->
        <!-- 밑줄은,, 복습하기^^...-->
        <a href="{% url 'posts:create' %}"><button>글쓰기</button></a>

        <a href="{% url 'posts:list' %}"><img src="/static/서서명명.png" alt="메인 페이지"></a>
    </div>
    <!--서명.png는 static 아래의 파일 이름이므로 저것도 이름 수정하면 여기도 수정해야됨-->
    <!---->

    {% block posts %}

    {% endblock %}

    
</body>
</html>