<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% for post in posts %}
    <div>{{ post.title }}</div>
    <div>{{ post.writer }}</div>
    <div>{{ post.content }}</div>
    <div>{{ post.pub_date }}</div>
    <a href="{% url 'posts:update' post.id %}"><button>수정</button></a>
    <button type="button"><a href="{% url 'posts:cat' post.id %}">삭제하기</a></button>
    <div class="detail">
      <button type="button" class="detail-btn"><a href="{% url 'posts:detail' post.id %}">detail</a></button>
    </div>
  {% endfor %}
</body>
</html>